*.log
*.pdb
*.idb
*.exe
*.obj
*.pch
*.ipch
*.ilk
*.tlog
/vs
/.vs
/Debug
/Release
/x64
IOCP/vs
IOCP/Debug
IOCP/Release
IOCP/x64
*.suo
*.db
*.opendb
*.ipdb
*.iobj
*.zip
Project/Server/.vs/Server/v15/.suo
Project/Server/.vs/Server/v15/Browse.VC.db
